RewriteEngine On

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteRule ^api/influencers/(.*)/posts/(.*)  /index.php?influencers=$1&posts=$2
RewriteRule ^api/influencers/(.*)/posts       /index.php?influencers=$1&posts
RewriteRule ^api/influencers/(.*)             /index.php?influencers=$1

RewriteRule ^api/cities/(.*)                  /index.php?cities=$1

RewriteRule ^api/? index.php
