RewriteEngine On

#DirectoryIndex api.php
#RewriteRule ^api/test/(.*) /api.php?test=$1

RewriteRule ^api/users/(.*)/posts/(.*)  /api.php?users=$1&posts=$2
RewriteRule ^api/users/(.*)             /api.php?users=$1

#RewriteRule ^api/users/(.*)/posts/(.*) /api.php?type=get&users=$1&posts=$2
#RewriteRule ^api/users/(.*)/posts /api.php?type=post

RewriteRule ^api/? api.php
